/* Carousel.css */
.book-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    height: 500px; /* Adjust the height as needed */
    align-items: center;
    margin-bottom: 3rem;
    margin-inline: 4rem;
  }
  
  .book-carousel-container {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .book-item {
    flex: 0 0 33.3%; /* Display 3 books at a time */
    padding: 0;
    text-align: center;
  }
  
  .book-item img {
    width: 60%;
    height: 300px; /* Adjust the height of book cover images */
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f2f2f2;
    border: none;
    color: #333;
    font-size: 20px;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .carousel-control.prev {
    left: 0;
    border-style: none;
  }
  
  .carousel-control.next {
    right: 0;
    border-style: none;
  }
  
  h5 {
    text-align: center;
    padding-inline: 10px;
    padding-top: 10px;
    font-family: 'Merriweather', serif;
  }